article {
    height: 85%;
}

section {
    height: 100%;
}

.contenido {
    height: 86vh;
}

.form-group {
    margin-bottom: 10px;
}

.input-nombre,
.input-apellido {
    width: 50%;
}

.input-imagen {
    width: 70%;
}

.btn-actualizar,
.btn-cancelar {
    margin: 10px 10px 10px 0px;
}

.imagen-inicio{
    width: 200px; /*borrar linea si utilizo ngx-image-cropper*/
    max-width: 200px;
    border-radius: 50%;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingresa-modal{
    cursor: pointer;
}

@media (min-width: 768px) {
    .contenido {
        height: 67vh;
    }
}

@media (min-width: 768px) {
    .center {
        display: block;
        flex-direction: inherit;
        align-items: start;
    }
}

.overflow-auto::-webkit-scrollbar {
    background-color: transparent;
}

.overflow-auto::-webkit-scrollbar-thumb {
    background-color: #626262;
    border-radius: 10px;
}

.overflow-auto::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555252;
}