<article *ngIf="persona">
    <section>
      <div class="overflow-auto container-fluid">
        <div class="row contenido">
          <div class="col-10 col-sm-10 col-md-4 col-lg-4 order-2 position-relative circle">
            <img class="image-profile" [src]="persona.img" alt="Foto de perfil">
            <div class="position-absolute translate-middle top-50 start-50"><a routerLink="/editinicio/1" *ngIf="isLogged"><i class="fas fa-camera"></i><span>&nbsp;Cambiar Foto</span></a></div>
          </div>
          <div class="col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7 order-1">
            <p class="text-white text-1 text-anidado">{{persona.apellido}}</p>
            <p class="text-white text-2 text-anidado">{{persona.nombre}}</p>
            <p class="text-white text-3 text-anidado">{{persona.descripcion}}</p>
          </div>
        </div>
      </div>
    </section>
  </article>
  