article {
  height: 85%;
}

section {
  height: 100%;
}

.div-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 52px;
}

.p-title {
  text-align: center;
  margin: 0 auto;
}

.contenido2 {
  height: 63vh;
}

.col-card {
  padding: 15px 51px 15px 0px;
}

.btn-right {
  float: right;
}

.button-delete,
.button-edit,
.button-new {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  /* ancho del icono */
  height: 20px;
  /* alto del icono */
  margin-left: 20px;
  border: none;
  cursor: pointer;
  border: none;
  background: none;
}

.icon-delete,
.icon-edit,
.icon-new {
  font-size: 20px;
  /* tamaño de la fuente del icono */
  color: rgb(0, 163, 255);
}

.icon-edit:hover,
.icon-delete:hover,
.icon-new:hover {
  color: #0077ff;
}

.div-imagen {
  text-align: center;
}

.imagen-educacion {
  width: 80px; /*borrar linea si utilizoc ngx-image-cropper*/
  max-width: 80px;
  max-height: 90px;
  border-radius: 10px;
}

.div-text {
  display: inline-block;
  margin: 0px 0px 0px 20px;
}

.p-anidado {
  margin: 0px 0px 10px 0px;
  color: #ffffff;
}



@media (min-width: 992px) {
  .imagen-educacion {
    float: left;
    max-height: 80px;
  }
}

@media (min-width: 1200px) {
  .col-proyectos.col-card {
    margin-right: 39.5px;
    padding: initial;
  }
}