article {
  height: 85%;
}

section {
  height: 100%;
}

.div-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 52px;
}

.p-title {
  text-align: center;
  margin: 0 auto;
}

.contenido2 {
  height: 63vh;
}

.col-card {
  padding: 15px 51px 15px 0px;
}

.btn-edit {
  float: right;
}

.button-edit {
  border: none;
  font-size: 20px;
  background: none;
  /* display: none; */
}

.icon-edit {
  width: 3vh;
  color: rgb(0,163,255);
}

.div-image {
  text-align: center;
}

.image-experiencia {
  max-width: 27vw;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
}

.div-text {
  display: inline-block;
  margin: 0px 0px 0px 20px;
}

.p-anidado {
  margin: 0px 0px 10px 0px;
  color: #ffffff;
}


@media (min-width: 992px) {
  .div-image {
    text-align: initial;
  }

  .image-experiencia {
    float: left;
    max-width: 13vw;
  }
} 

  

  

  


  

  

  