<article>
    <section>
        <div class="text-white div-title">
            <h1 class="p-title">Experiencia</h1>
            <button class="button-new" type="button" routerLink="/newexp" *ngIf="isLogged"><i class="fa fa-plus icon-new"></i></button>
        </div>
        <div class="overflow-auto container-fluid">
            <div class="row contenido2 justify-content-end">
                <div *ngFor="let Experiencia of expe" class="col-10 col-md-10 order-2 col-card">
                    <div class="btn-right">
                        <button *ngIf="isLogged" class="button-delete" type="button" (click)="openModal(template, Experiencia.id)"><i class="fas fa-trash icon-delete"></i></button>
                        <button *ngIf="isLogged" class="button-edit" type="button" routerLink="/editexp/{{Experiencia.id}}"><i class="fas fa-pencil-alt icon-edit"></i></button>   
                    </div>
                    <div class="div-image">
                        <img class="imagen-experiencia" [src]="Experiencia.img" alt="Logo de la organización">
                    </div>
                    <div class="div-text">
                        <h5 class="p-anidado p-descripcion">{{Experiencia.descripcion}}</h5>
                        <h5 class="p-anidado p-nombre">{{Experiencia.nombre}}</h5>
                        <p class="p-anidado p-tipo">{{Experiencia.tipo}}</p>
                        <p class="p-anidado p-tiempo"><time>{{ Experiencia.inicio | date: 'MM/yyyy' }}</time> - <time>{{ Experiencia.fin | date: 'MM/yyyy' }}</time></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>

<ng-template #template>
  <div class="modal-body text-center bg-black text-white border border-white" >
    <p>¿Está seguro que desea eliminar?</p>
    <button type="button" class="btn btn-danger m-2" (click)="confirm()" >Si</button>
    <button type="button" class="btn btn-primary m-2" (click)="decline()" >No</button>
  </div>
</ng-template>

