<article>
    <section>
        <div class="overflow-auto container-fluid">
            <div class="row contenido justify-content-center">
                <div class="col-8 col-sm-8 col-xxl-9">
                    <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                        <div class="form-group">
                            <label for="nombre" class="form-label text-white">Nombre de la Skill</label>
                            <input type="text" class="form-control input-nombre" id="nombre" name="nombre" [(ngModel)]="skill.nombre"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="porcentaje" class="form-label text-white">Ingrese el Porcentaje</label>
                            <input type="text" class="form-control input-porcentaje" id="porcentaje" name="porcentaje"
                                [(ngModel)]="skill.porcentaje" required min="0" max="100" step="1">
                        </div>
                        <div class="form-group">
                            <label for="color" class="form-label text-white">Seleccione el Color</label>
                            <input type="color" class="form-control input-color" id="color" name="color" [(ngModel)]="skill.color"
                                required>
                        </div>
                        <div class="container-circle">
                            <div id="container-{{skill.nombre}}" class="div-container">
                                <circle-progress
                                [percent]="skill.porcentaje"
                                [outerStrokeColor]="skill.color"
                                [titleColor]="skill.color"
                                [unitsColor]="skill.color"
                                [radius]="60"
                                [space]="-10"
                                [outerStrokeWidth]="10"
                                [innerStrokeColor]="'#c0c7b8'"
                                [innerStrokeWidth]="10"
                                [animationDuration]="1000"
                                [showSubtitle]="false"
                                ></circle-progress>
                            </div>
                            <div class="p-center">
                                <p class="fs-4 fw-semibold text-white text-center">{{skill.nombre}}</p>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-actualizar">
                            Actualizar
                        </button>
                        <button class="btn btn-light btn-cancelar" (click)="cancel()">
                            Cancelar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</article>