header {
    height: 15%;
}

.image-nav {
    width: 15vh;
    margin: 15px 0px 0px 20px;
}

.navbar-collapse {
    z-index: 1000;
}

@media (min-width: 768px) {
    .image-nav {
        width: 13vh;
    }
}